body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d6d3cd;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55534e;
    padding: 15px 25px;
    color: black;
}

nav h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: #32312f;
}

.trailer {
    border-radius: 20px;
    max-width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    padding: 10px;
    background-color: black;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

.card p {
    margin-bottom: 0;
    font-weight: bold;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
    padding: 40px;
    gap: 50px;
}

.titulo {
    flex: 1;
    text-align: left;
}

.bebe {
    color: #fff;
    margin: 0;
    font-size: 80px;
    line-height: 0.9;
    font-weight: 900;
}

.case {
    color: #32312f;
    margin: 0;
    font-size: 80px;
    line-height: 0.9;
    font-weight: 900;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #32312f;
  color: white;
  margin-top: 20px;
}

.descricao {
    max-width: 500px;
    margin: 30px 0;
    color: black;
    font-size: 17px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
}

.section-title span {
    width: 5px;
    height: 35px;
    background: #32312f;
    border-radius: 10px;
}

.section-title h2 {
    font-size: 36px;
    color: black;
}

.obs{
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
}

.enviar{
    padding: 15px 30px;
    font-size: 18px;
    background-color: #32312f;
    color: white;
    border-radius: 10px;
}

.elevador{
    border-radius: 26px;
    width: 400px;
}

.poster{
    border-radius: 26px;
}